flows/HubitatWebsocketRelay.json
[  
   {  
      "id":"cadd3106.3ec1d",
      "type":"tab",
      "label":"Websocket Relay",
      "disabled":false,
      "info":""
   },
   {  
      "id":"f7d93ba1.933908",
      "type":"change",
      "z":"cadd3106.3ec1d",
      "name":"Remove _session",
      "rules":[  
         {  
            "t":"delete",
            "p":"_session",
            "pt":"msg"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":570,
      "y":120,
      "wires":[  
         [  
            "629a9bb6.cd6874"
         ]
      ]
   },
   {  
      "id":"83c256a9.1e6db8",
      "type":"change",
      "z":"cadd3106.3ec1d",
      "name":"Tag: Event",
      "rules":[  
         {  
            "t":"set",
            "p":"type",
            "pt":"msg",
            "to":"event",
            "tot":"str"
         },
         {  
            "t":"set",
            "p":"lastEvent",
            "pt":"flow",
            "to":"",
            "tot":"date"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":350,
      "y":100,
      "wires":[  
         [  
            "f7d93ba1.933908"
         ]
      ]
   },
   {  
      "id":"5db51fd.0295fe",
      "type":"change",
      "z":"cadd3106.3ec1d",
      "name":"Tag: Log",
      "rules":[  
         {  
            "t":"set",
            "p":"type",
            "pt":"msg",
            "to":"log",
            "tot":"str"
         },
         {  
            "t":"set",
            "p":"lastLog",
            "pt":"flow",
            "to":"",
            "tot":"date"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":340,
      "y":140,
      "wires":[  
         [  
            "f7d93ba1.933908"
         ]
      ]
   },
   {  
      "id":"1c674dbd.ba5632",
      "type":"websocket out",
      "z":"cadd3106.3ec1d",
      "name":"Hubitat Event Socket Relay",
      "server":"b1d28787.019578",
      "client":"",
      "x":990,
      "y":80,
      "wires":[  

      ]
   },
   {  
      "id":"629a9bb6.cd6874",
      "type":"switch",
      "z":"cadd3106.3ec1d",
      "name":"Type?",
      "property":"type",
      "propertyType":"msg",
      "rules":[  
         {  
            "t":"eq",
            "v":"event",
            "vt":"str"
         },
         {  
            "t":"eq",
            "v":"log",
            "vt":"str"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":770,
      "y":120,
      "wires":[  
         [  
            "1c674dbd.ba5632"
         ],
         [  
            "3b6f8daa.3f9e32"
         ]
      ],
      "outputLabels":[  
         "Event",
         "Log"
      ]
   },
   {  
      "id":"344465e1.89488a",
      "type":"websocket in",
      "z":"cadd3106.3ec1d",
      "name":"Hubitat Events Websocket",
      "server":"",
      "client":"eb5fc557.dde3d8",
      "x":130,
      "y":90,
      "wires":[  
         [  
            "83c256a9.1e6db8"
         ]
      ]
   },
   {  
      "id":"f71dc7d8.6c6748",
      "type":"websocket in",
      "z":"cadd3106.3ec1d",
      "name":"Hubitat Logs Websocket",
      "server":"",
      "client":"623f4472.02184c",
      "x":130,
      "y":150,
      "wires":[  
         [  
            "5db51fd.0295fe"
         ]
      ]
   },
   {  
      "id":"3b6f8daa.3f9e32",
      "type":"websocket out",
      "z":"cadd3106.3ec1d",
      "name":"Hubitat Log Socket Relay",
      "server":"3e1793a8.491ebc",
      "client":"",
      "x":980,
      "y":160,
      "wires":[  

      ]
   },
   {  
      "id":"4cbcbfbf.aff74",
      "type":"config",
      "z":"cadd3106.3ec1d",
      "name":"",
      "properties":[  
         {  
            "p":"lastEvent",
            "pt":"flow",
            "to":"",
            "tot":"num"
         },
         {  
            "p":"lastLog",
            "pt":"flow",
            "to":"",
            "tot":"num"
         },
         {  
            "p":"lastCheckFailed",
            "pt":"flow",
            "to":"false",
            "tot":"bool"
         },
         {  
            "p":"maxLogAge",
            "pt":"flow",
            "to":"3",
            "tot":"num"
         },
         {  
            "p":"maxEventAge",
            "pt":"flow",
            "to":"3",
            "tot":"num"
         }
      ],
      "active":true,
      "x":100,
      "y":20,
      "wires":[  

      ]
   },
   {  
      "id":"8529a38e.99c17",
      "type":"inject",
      "z":"cadd3106.3ec1d",
      "name":"5 Minutes",
      "topic":"",
      "payload":"",
      "payloadType":"date",
      "repeat":"300",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":110,
      "y":300,
      "wires":[  
         [  
            "ac5c308e.29d85"
         ]
      ]
   },
   {  
      "id":"d8aa7451.9f6ba8",
      "type":"function",
      "z":"cadd3106.3ec1d",
      "name":"Check Times",
      "func":"curTime = new Date()\n\nlastLog = (curTime - flow.get(\"lastLog\")) / 1000\nlastEvent = (curTime - flow.get(\"lastEvent\")) / 1000\n\nif (lastLog > flow.get(\"maxLogAge\") || lastEvent > flow.get(\"maxEventAge\")) {\n    if (flow.get(\"lastCheckFailed\")){\n        msg.payload = \"Restarting Node-RED\"\n        return [null, msg] // Node Output 2\n    } else {\n        flow.set(\"lastCheckFailed\", true)\n        if (lastLog > lastEvent) {\n            msg.payload = \"Last log message is \" + lastLog.toString() + \" seconds old.\"\n        } else {\n            msg.payload = \"Last event is \" + lastEvent.toString() + \" seconds old.\"\n        }\n\n        return [msg, null] // Node Output 1\n    }\n} else {\n    flow.set(\"lastCheckFailed\", false)\n    return null\n}",
      "outputs":2,
      "noerr":0,
      "x":430,
      "y":300,
      "wires":[  
         [  
            "b389f83b.659748"
         ],
         [  
            "b389f83b.659748",
            "a6dd7c86.ffb3b"
         ]
      ]
   },
   {  
      "id":"ac5c308e.29d85",
      "type":"change",
      "z":"cadd3106.3ec1d",
      "name":"Strip",
      "rules":[  
         {  
            "t":"delete",
            "p":"topic",
            "pt":"msg"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":270,
      "y":300,
      "wires":[  
         [  
            "d8aa7451.9f6ba8"
         ]
      ]
   },
   {  
      "id":"b389f83b.659748",
      "type":"pushover api",
      "z":"cadd3106.3ec1d",
      "keys":"2689cdfc.89b932",
      "title":"Hub Websockets",
      "name":"Send Notification",
      "x":670,
      "y":300,
      "wires":[  

      ]
   },
   {  
      "id":"a5741073.70c64",
      "type":"exec",
      "z":"cadd3106.3ec1d",
      "command":"sudo /usr/sbin/service node-red restart",
      "addpay":false,
      "append":"",
      "useSpawn":"false",
      "timer":"",
      "oldrc":false,
      "name":"Restart Node-RED",
      "x":820,
      "y":350,
      "wires":[  
         [  

         ],
         [  

         ],
         [  

         ]
      ]
   },
   {  
      "id":"a6dd7c86.ffb3b",
      "type":"delay",
      "z":"cadd3106.3ec1d",
      "name":"Delay 3s",
      "pauseType":"delay",
      "timeout":"3",
      "timeoutUnits":"seconds",
      "rate":"1",
      "nbRateUnits":"1",
      "rateUnits":"second",
      "randomFirst":"1",
      "randomLast":"5",
      "randomUnits":"seconds",
      "drop":false,
      "x":640,
      "y":350,
      "wires":[  
         [  
            "a5741073.70c64"
         ]
      ]
   },
   {  
      "id":"b1d28787.019578",
      "type":"websocket-listener",
      "z":"",
      "path":"/hubitat-eventsocket",
      "wholemsg":"true"
   },
   {  
      "id":"eb5fc557.dde3d8",
      "type":"websocket-client",
      "z":"",
      "path":"ws://10.13.13.7/eventsocket",
      "tls":"",
      "wholemsg":"true"
   },
   {  
      "id":"623f4472.02184c",
      "type":"websocket-client",
      "z":"",
      "path":"ws://10.13.13.7/logsocket",
      "tls":"",
      "wholemsg":"true"
   },
   {  
      "id":"3e1793a8.491ebc",
      "type":"websocket-listener",
      "z":"",
      "path":"/hubitat-logsocket",
      "wholemsg":"true"
   },
   {  
      "id":"2689cdfc.89b932",
      "type":"pushover-keys",
      "z":"",
      "name":""
   }
]
